name: Postman CI

on:
  workflow_dispatch:
  schedule:
    - cron: "0 */6 * * *" # every 6 hours (adjust if you like)

jobs:
  postman-tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Install Newman
        run: npm install -g newman

      - name: Run Newman tests
        continue-on-error: true
        run: |
          newman run postman/CHOPLIFE_DEV.postman_collection.json \
            -e postman/CHOPLIFE_DEV.postman_environment.json \
            --reporters cli,json \
            --reporter-json-export newman-report.json

      - name: Upload Newman report
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: newman-report
          path: newman-report.json

      - name: Send Slack report
        if: always()
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
        run: |
          node send-slack.js